<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MellorShopEntities1" connectionString="metadata=res://*/Model.ModelDBMellorShop.csdl|res://*/Model.ModelDBMellorShop.ssdl|res://*/Model.ModelDBMellorShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:93.175.214.80\SERVER_BD,37824;initial catalog=MellorShop;user id=Mellor;password=2802454et325135;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ComputerHardwareStore.Properties.Settings.MellorShopConnectionString"
      connectionString="Data Source=tcp:PCWORK_10,49180;Initial Catalog=MellorShop;User ID=sa;Password=nHhfycbkmdfybz1"
      providerName="System.Data.SqlClient" />
    <add name="ComputerHardwareStore.Properties.Settings.MellorShopConnectionString1"
      connectionString="Data Source=PCWORK_10,49180;Initial Catalog=MellorShop;User ID=sa;Password=nHhfycbkmdfybz1"
      providerName="System.Data.SqlClient" />
    <add name="ComputerHardwareStore.Properties.Settings.MellorShopConnectionString2"
      connectionString="Data Source=tcp:93.175.214.80\SERVER_BD,37824;Initial Catalog=MellorShop;User ID=Mellor;Password=2802454et325135"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>